.env
todo
nginx/logs/*
!nginx/logs/.gitkeep
mysql/**/logs/*
mysql/**/dump/*
!mysql/**/logs/.gitkeep
!mysql/**/dump/.gitkeep
projects/*
!projects/default.localhost
nginx/conf.d/*
!nginx/conf.d/default.conf
nginx/another
nginx/ssl/*
!nginx/ssl/.gitkeep
